<p id="notice"><%= notice %></p>

<p>
  <strong>Face Descriptor:</strong>
  <%= @face.face_descriptor %>
  <%= @face.face_image %>
</p>

<%= link_to 'Edit', edit_face_path(@face) %> |
<%= link_to 'Back', faces_path %>
